@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inder', sans-serif;
    background: #f5f5f3;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    padding: 25px 50px;
    background: #fff;
    position: relative;
}

.logo img{
    width: 170px;
}

/* MENU */

nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #111;
    font-size: 20px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #4d7c2f;
}

.active a{
    color: #4d7c2f;
}

/* TITULO */

.menu{
    width: 100%;
    padding: 20px 60px 60px;
}

.titulo-menu{
    text-align: center;
}

.titulo-menu h2{
    color: #4d7c2f;
    font-size: 38px;
    margin-bottom: 10px;
}

.titulo-menu p{
    font-size: 22px;
    margin-bottom: 30px;
}

/* FILTROS */

.filtros{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 50px;
}

.filtro{
    background: #4d7c2f;
    color: white;

    border: none;
    border-radius: 12px;

    padding: 14px 28px;

    font-size: 18px;
    cursor: pointer;

    transition: 0.3s;
}

.filtro:hover{
    background: #3e6625;
}

.filtro.active{
    background: #36581f;
}

/* CARDS */

.contenedor-menu{
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card-menu{
    background: #fff;

    border-radius: 20px;

    overflow: hidden;

    border: 2px solid #b8b8b8;

    box-shadow: 0 5px 10px rgba(0,0,0,0.15);

    transition: 0.3s;
}

.card-menu:hover{
    transform: translateY(-8px);
}

.card-menu img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* CONTENIDO */

.contenido-card{
    padding: 20px;
}

.contenido-card h3{
    font-size: 24px;
    margin-bottom: 15px;
}

.contenido-card span{
    color: #486f2d;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}

.contenido-card button{
    background: #4d7c2f;
    color: white;

    border: none;
    border-radius: 12px;

    padding: 12px 20px;

    cursor: pointer;
    font-size: 16px;

    transition: 0.3s;
}

.contenido-card button:hover{
    background: #36581f;
}

.modal-detalle{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.contenido-modal{
    background:#fff;
    width:90%;
    max-width:600px;
    padding:25px;
    border-radius:15px;
    position:relative;
}

.contenido-modal img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
}

#cerrarDetalle{
    position:absolute;
    right:20px;
    top:15px;
    font-size:30px;
    cursor:pointer;
}

/* RESPONSIVE */

@media(max-width: 900px){

    .contenedor-menu{
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width: 600px){

    header{
        flex-direction: column;
        gap: 20px;
    }

    nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor-menu{
        grid-template-columns: 1fr;
    }

    .filtros{
        flex-wrap: wrap;
    }

}